@import url("https://fonts.googleapis.com/css?family=Chivo|Open+Sans|Roboto&display=swap");

/*----------------Colours--------------*/
:root {
  --bg-purple: #584aa9;
  --bg-green: #08c59d;
  --txt-white: #edf0f1;
}

/* Apply border-box to all elements to ensure that padding & border are included in the width & height */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-purple);
  font-family: "Roboto", sans-serif;
  color: var(--txt-white);
  height: 100vh;
}
/* header */
header {
  z-index: 10;
  border-bottom: 1px solid var(--txt-white);
  background-color: var(--bg-purple);
  padding: 20px;
  position: relative;
}
h1{
    font-family: "Chivo",sans-serif;;
    font-weight: 900;
    font-size: 2.0rem;
}
h3{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
}
/*style button */
button {
  padding: 9px 25px;
  background-color: rgba(8, 197, 157, 0.8);
  color: var(--txt-white);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: rgba(8, 197, 157, 1);
}
/*main content section*/
main {
  height: 600px;
  z-index: 5;
}
.side-panel {
  padding: 20px;
}
.game-panel {
  height: 600px;
  padding: 20px;
}

/*flex container for card-deck*/
#card-deck {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: calc(25% - 20px);
  height: calc(33% - 20px);
  margin: 10px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.show .card-inner {
  transform: rotateY(-180deg);
}
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
img {
  width: 100%;
  height: 100%;
}
.card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(-180deg);
}
/*Congrats Modal */
.modal-background{
  background-color: var(--bg-purple);
}
.modal-body{
  font-size: 1.2rem;
}
footer{
    width: 100%;
    height: 60px;
    line-height: 60px;
}
footer a{
  color: #fff
}
footer a:hover{
  color: var(--bg-green)
}

@media only screen and (max-width: 450px) {
  /* For mobile phones: */
  main{
    position: relative;   
  }
  footer{
    position: relative;
    top: 400px;
  }
  .card {
    width: calc(33% - 20px);
    height: calc(25% - 20px);
  }
}